<header class="navbar-fixed">
    <div class="nav-top">
        <div class="logo-area">
            <div class="logo-icon">
                <img src="logo/logo.png" alt="Apokalypsy Logo" width="45" height="45">
            </div>

            <div class="logo-text">
                <div class="logo">APOKALYPSY</div>
                <div class="logo-sub">
                    Bible • Chat • Enseignements
                </div>
            </div>
        </div>

        <div class="right-zone">

            <select class="lang-select"
                    id="langSwitcher"
                    onchange="changeLanguage()">

                <option value="mg">MG</option>
                <option value="fr">FR</option>
                <option value="en">EN</option>

            </select>

            <div class="auth-buttons" id="auth-zone"></div>

        </div>
    </div>
</header>
